@* @model NdaReservation.Models.Mass *@
@model IQueryable<Mass>

@{
    ViewData["Title"] = "Activer une réservation";
    Layout ="_AdminLayout";
}
<div>
    <h3>Rendre disponible la messe pour activer la réservation</h3>
    <hr />
    <div>
        <form class="form-inline">
            <div class="form-group">
                <label class="mb-2 mr-sm-2" > pour le mois de : </label>
                <select class="form-control mb-2 mr-sm-2" id=" name=" >
                    <option value="">Choisir le mois</option>
                    <option>Janvier</option>
                    <option>Fevrier</option>
                    <option>Mars</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary mb-2">Afficher les messes pour ce mois</button>
        </form>
    </div>
    <div>
        @if (Model.Count() != 0)
        {
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Jour de la messe</th>
                            <th>Heure de la messe</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in Model)
                        {
                            <tr>
                                <td>@r.DayOfTheWeek</td>
                                <td>@r.HourOfCelebration</td>
                                <td>
                                    <form>
                                        <button class="btn btn-warning">Activer</button>
                                    </form>
                                    |<a asp-model="Mass" asp-action="Delete">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> 
        }
        else
        {
            <span>Il n'y a pas de messes disponible pour l'instant</span>
        }
    </div>
</div>