<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Secrétariat NDA</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/twitter-bootstrap/css/ndaadminstyle.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="nda-admin-nav">
            <h4>CHAPELLE NDA </h4>
        </div>
    </header>
    <div class="row nda-admin-workspace-container">
        @* menu *@
        <div class="col-3 col-s-3 nda-admin-menu container-fluid">
            <ul>
                <li>Ajouter une réservation</li>
                <li>Ajouter une Messe</li>
                <li>Voir les messes disponibles</li>
                <li>Voir la liste des réservations</li>
                <li>Formulaire des réservations</li>
            </ul>
        </div>
        @* container *@
        <div class="col-9 col-s-9">
            @RenderBody()
        </div>
    </div>
    <footer class="border-top nda-admin-footer text-muted ">
        <div class="container">
            &copy; 2021 - Formulaire de réservation de messes en ligne
        </div>
    </footer>
    <script src="/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>