<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Réservation Messes NDA</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/vendor/animate/css/animate.css" rel="stylesheet" />
    <link href="/lib/twitter-bootstrap/css/ndastyles.css" rel="stylesheet" />
    <link href="/lib/twitter-bootstrap/css/util.css" rel="stylesheet" />
    @* <link href="/lib/twitter-bootstrap/css/formStyle.css" rel="stylesheet" /> *@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <span class="navbar-text nda-header-title">
                <a asp-action="Index">CHAPELLE NOTRE DAME D'ACADIE</a>
            </span>
            <span class="navbar-text nda-header-title">
                <a asp-action="ListeReservations">Liste des reservations</a>
            </span>
        </nav>
    </header>
    <div class="container nda-page-container">
        @* <main role="main" class="pb-3"> *@
            @RenderBody()
        @* </main> *@
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Formulaire de réservation de messes en ligne
        </div>
    </footer>
    <script src="/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>