@model NdaReservation.Models.Reservation

<div class="form-group nda-input-wrap nda-validate-input">
    <label class="nda-label" asp-for="FirstName">Votre Prénom</label>
    <input asp-for="FirstName" class="nda-input" value="" placeholder="Votre Prénom" />
    <span class="nda-focus"></span>
    <span asp-validation-for="FirstName" class="text-danger"></span>  
</div>
<div class="form-group nda-input-wrap nda-validate-input">
    <label class="nda-label" asp-for="LastName" >Votre Nom de famille</label>
    <input asp-for="LastName" class="nda-input" value="" placeholder="Votre Nom de famille"/>
    <span class="nda-focus"></span>
    <span asp-validation-for="LastName" class="text-danger"></span>  
</div>
<div class="form-group nda-input-wrap nda-validate-input">
    <label class="nda-label" asp-for="PhoneNumber" >Votre numéro de téléphone</label>
    <input asp-for="PhoneNumber" class="nda-input" value=""  placeholder="Votre numéro de téléphone" />
    <span class="nda-focus"></span>
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>  
</div>
<div class="form-group nda-input-wrap nda-validate-input">
    <label class="nda-label" asp-for="Email" >Votre adresse Email</label>
    <input asp-for="Email" class="nda-input" value=""  placeholder="Votre adresse Email"/>
    <span class="nda-focus"></span>
    <span asp-validation-for="Email" class="text-danger"></span> 
</div>