@model IQueryable<Mass>

@{
    ViewData["Title"] = "Liste des messes";
    Layout ="_AdminLayout";
}
<div>
    <a asp-controller="Mass" asp-action="Create">Créer une messe</a>
    <h3>Messes disponibles pour être reservée</h3>
    <hr />
    @if (Model.Count() != 0)
    {
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Jour de la messe</th>
                        <th>Heure de la messe</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in Model)
                    {
                        <tr>
                            <td>@r.DayOfTheWeek</td>
                            <td>@r.HourOfCelebration</td>
                            <td>
                                <a asp-model="Mass" asp-action="Edit">Modifier</a> |
                                <a asp-model="Mass" asp-action="Delete">Effacer</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> 
    }
    else
    {
        <span>Il n'y a pas de messes disponible pour l'instant</span>
    }
</div>