@model NdaReservation.Models.Reservation
@{
    ViewData["Title"] = "Merci - Prochaine personne";
}
<div class="col-lg-9 mx-auto text-center">
    <p>
        Merci d'avoir reservé votre place pour la messe du @Model.MassDate.ToString("F", new System.Globalization.CultureInfo("fr-FR")) <br/>
        Voici votre numero de réservation : @Model.ReservationCode.
        Un email vous sera aussi envoyé avec les détails à l'addresse suivante : @Model.Email
        <br />
        Détails personnes de la bulle déjà enregistré ici
        <br />
    </p>
    <div class="nda-form-container-btn">
        <div class="nda-form-wrap-btn">
            <div class="nda-form-bg-btn"></div>
            <a asp-action="Index" class="nda-form-btn">
                <span class="nda-label">
                    Retourner à la page d'accueil
                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="nda-form-container-btn">
        <div class="nda-form-wrap-btn">
            <div class="nda-form-bg-btn"></div>
            <a asp-action="BubleReservationForm" asp-route-reservationCode="@Model.ReservationCode" class="nda-form-btn">
                <span class="nda-label">
                    Enregistrer la prochaine personne de votre bulle
                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    </div>
</div>