@model NdaReservation.Models.Reservation
@{
    ViewData["Title"] = "Formulaire de Réservation avec bulle";
}
<div class="nda-form-container">
    <span class="nda-form-title">
        Formulaire de Réservation des messes - membres de ma bulle.
    </span>
    <form asp-action="BubleReservationForm" method="POST" class="form-body validate-form">
        <span class="nda-label">
            Participation à la messe Du : @Model.MassDate.ToString("F",  new System.Globalization.CultureInfo("fr-FR"))
        </span>
        <partial name="idForm" model="@Model" />
        <div class="form-group">
            <input asp-for="MassDate" class="form-control" value="@Model.MassDate" type="hidden" />
            <input asp-for="HasABubble" class="form-control" value="true" type="hidden" />
            <input asp-for="ReservationCode" value="@Model.ReservationCode" type="hidden" />
        </div>     
        <div class="nda-form-container-btn">
            <div class="nda-form-wrap-btn">
                <div class="nda-form-bg-btn"></div>
                <a asp-action="Index" class="nda-form-btn">
                    <span class="nda-label">
                        Retourner à la page d'accueil
                        <i class="fa fa-long-arrow-left m-l-7" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="nda-form-container-btn">
            <div class="nda-form-wrap-btn">
            <div class="nda-form-bg-btn"></div>
                <button type="submit" class="nda-form-btn">              
                    <span class="nda-label">
                        Ajouter à la réservation
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>
            </div>   
        </div>
    </form>
</div>