@model NdaReservation.Models.Reservation
@{
    ViewData["Title"] = "Acceuil";
}

<div class="col-lg-9 mx-auto text-dark text-center">
    <span class="nda-form-title">
        Bienvenue à la page de réservation des messes de la chapelle NDA 
        <br/>de l'université de Moncton
    </span>
    <div class="nda-form-container-btn">
        <div class="nda-form-wrap-btn">
            <div class="nda-form-bg-btn"></div>
            <a asp-action="ReservationForm" class="nda-form-btn">
                <span class="nda-label">
                    Continuer votre réservation
                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    </div>
</div>