@model IQueryable<Reservation>

@{
    ViewData["Title"] = "Liste de Réservation";
    Layout ="_AdminLayout";
}
<div>
    <h4>Voici la liste de ceux qui se sont déjà enregistrés</h4>
    <hr />
    <div>
        <form class="form-inline" asp-asp-controller="HomeController" asp-action="ListeReservations" method="GET">
            <div class="form-group">
                <label for="selectedDay"> Réservations pour la date du : </label>
                <select class="form-control" id="selectedDay" name="selectedDay">
                    <option value="0"> Tous les jours </option>
                    @foreach (var l in ViewBag.ListOfMassTime){
                        @if(ViewBag.SelectedDay == l.MassActivationID){
                            <option selected value="@l.MassActivationID">@l.MassDateTime.ToString("F", new System.Globalization.CultureInfo("fr-FR"))</option>
                        }
                        else{
                            <option value="@l.MassActivationID">@l.MassDateTime.ToString("F", new System.Globalization.CultureInfo("fr-FR"))</option>
                        }   
                    }
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary"> Afficher les réservations</button>
            </div>
        </form>
    </div>

    <h5>Nombre Total d'enregistrement : @Model.Count()</h5>
    <hr />

    @if(Model.Count() != 0)
    {
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr><th>Numero</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Jour de la messe</th>
                    </tr>
                </thead>
                <tbody>  
                    @foreach (var r in Model)
                    {
                        <tr>
                            <td></td>
                            <td>@r.FirstName</td>
                            <td>@r.LastName</td>
                            <td>@r.Email</td>
                            <td>@r.PhoneNumber</td>
                            <td>@r.MassDate.ToString("F", new System.Globalization.CultureInfo("fr-FR"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <span class="nda-label">
            Aucun enregistrement pour le moment
        </span>
    }
</div>