@model NdaReservation.Models.Reservation
@{
    ViewData["Title"] = "Formulaire de Réservation";
}

<div class="nda-form-container">
    <form asp-action="ReservationForm" method="POST" class="form-body validate-form">
        <span class="nda-form-title">
            Je veux participer à la messe
        </span>
        <div class="form-group nda-input-wrap nda-validate-input">
            <span class="nda-label" asp-for="MassDate" >Du</span>
            <div>
                <select asp-for="MassDate">
                    <option value="">Choisir le jour</option>
                    @foreach (var dateOfMass in @ViewBag.ListOfMassTime){
                        <option value="@dateOfMass.MassDateTime">@dateOfMass.MassDateTime.ToString("F", new System.Globalization.CultureInfo("fr-FR"))</option>
                    }
                </select>
            </div>
            <span class="nda-focus"></span>
            <span asp-validation-for="MassDate" class="text-danger"></span>  
        </div>
       <partial name="idForm" model="@Model" />
        <div class="form-group form-check">
            <input type="checkbox" asp-for="HasABubble" class="form-check-input" />
            <label class="form-check-label nda-label" asp-for="HasABubble">
                (cocher si ) Vous serez dans une bulle
            </label>
        </div>
        <div class="nda-form-container-btn">
            <div class="nda-form-wrap-btn">
                <div class="nda-form-bg-btn"></div>
                <button type="submit" class="nda-form-btn">
                    <span class="nda-label">
                        Reservez maintenant
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>
