* {
    box-sizing: border-box;
  }


.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.nda-admin-nav{
    background-color: #202a31;
    color: #ffffff;
    padding: 15px;
}

.nda-admin-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* height: 100%; /* Full height */
    /* position: fixed; */ /* Make it stick, even on scroll */
    /* overflow: auto; */ /* Enable scrolling if the sidenav has too much content  */
}

.nda-admin-menu li{
    padding: 8px 16px;
    background-color: #202a31;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.nda-admin-menu li:hover{
    background-color: rgb(76, 108, 119);
}

.nda-admin-workspace-container{
    padding: 15px;
}

.nda-admin-footer {
    background-color: #202a31;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }