* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    /*background-color: #F1F1F1;*/
    background: #ffd89b;
    background: -webkit-linear-gradient(to bottom, #ffd89b, #19547b);
    background: linear-gradient(to bottom, #ffd89b, #19547b);
    min-height: 100vh;
}
  /*--------------------------------------------------*/
a {
	/*font-family: Poppins-Regular;*/
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	/*font-family: Poppins-Regular;*/
	font-size: 24px;
	line-height: 1.7;
	color: #666666;
    margin: 0px;
    font-weight: bold;
    padding-left: 5px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}
/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input:focus {
  border-color: transparent !important;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }


input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
    background: transparent;
}

button:hover {
	cursor: pointer;
}
.container {
	max-width: 1200px;
}
.nda-page-container
{
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.nda-table-container
{
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 42px 55px 45px 55px;
}
/*---------------------------------------------*/
.nda-form-container
{
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 42px 55px 45px 55px;
}
/*------------------------------------------------------------------
[ Form ]*/
.nda-form-body
{
    display: block;
    width: 100%;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 36px;
}

.nda-header-title
{
    display: block;
}

.nda-form-title
{
    display: block;
    /*font-family: Poppins-Bold;*/
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 36px;
}
/*------------------------------------------------------------------
[ Input ]*/
.nda-input-wrap
{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 13px;
    margin-bottom: 27px;
}

.nda-label
{
    /*font-family: Poppins-Regular;*/
    font-size: 15px;
    color: #666666;
    line-height: 1.5;
    padding-left: 5px;
}

.nda-input
{
    display: block;
    width: 100%;
    background: transparent;
    /*font-family: Poppins-Medium;*/
    font-size: 18px;
    color: #333333;
    line-height: 1.2;
    padding: 0 5px;
}

.nda-focus
{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.nda-focus::before
{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #7f7f7f;
}
/*---------------------------------------------*/
input.nda-input{
    height: 40px;
  }

.nda-input:focus + .nda-focus::before {
    width: 100%;
}

.has-val.nda-input + .nda-focus::before {
    width: 100%;
}
/*------------------------------------------------------------------
[ Button ]
contient les divs autour des bouttons du formulaire
*/
.nda-form-inline button {
    padding: 10px 20px;
    background: #fccc80;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }

.nda-form-inline-container-btn
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: stretch;
    line-height: 1.2;
    padding-bottom: 13px;
}

.nda-form-container-btn
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.nda-form-wrap-btn
{
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}
.nda-inline-form-wrap-btn
{
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}
.nda-form-bg-btn
{
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #fccc80;
    top: 0;
    left: -100%;
}

.nda-form-btn
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;

    /*font-family: Poppins-Medium;*/
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
}

.nda-form-wrap-btn:hover .nda-form-bg-btn
{
    left: 0;
}

.nda-form-btn i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.nda-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .nda-form-container {
      padding: 72px 15px 65px 15px;
    }
  }
  
/*------------------------------------------------------------------
[ Alert validate ]*/
.nda-validate-input{
    position: relative;
}

.nda-alert-validate::before
{
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;
  
    /*font-family: Poppins-Regular;*/
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.nda-alert-validate::after{
    /*content: "\f06a";
    font-family: FontAwesome;*/
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}

.nda-alert-validate:hover::before
{
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .nda-alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
  