@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <title>Error</title>
    </head>
    <body>
        <h2 class="text-danger">Error.</h2>
        <h3 class="text-danger">An error occurred while processing your request.</h3>
    </body>
</html>