@model MassActivationViewModel

@{
    ViewData["Title"] = "Messes disponibles à être reservée";
    Layout ="_AdminLayout";
}
<div>
    <h3>Messes mensuelles ouvertes pour la réservation</h3>
    <hr />
    <div>
        <form class="form-inline" asp-controller="MassActivation" asp-action="Details" method="GET">
            <div class="form-group">
                <label for="selectedMonth"> Messes disponible pour le mois de :</label>
                <select class="form-control" id="selectedMonth" name="selectedMonth">
                    <option value="0"> Selectionner le mois </option>
                    @foreach (KeyValuePair<int, string> month  in Model.ListOfMonths){
                        @if(ViewBag.Selection == month.Key){
                            <option selected value="@month.Key">@month.Value</option>
                        }
                        else{
                            <option value="@month.Key">@month.Value</option>
                        }   
                    }
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary"> Voir les messes</button>
            </div>
        </form>
    </div>
    <hr />
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>ID de la messe</th>
                    <th>Jour de la messe</th>
                    <th>Heure de la messe</th>
                    <th>Prêt pour Réservation</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.MassesToActivate.Count() > 0)
                {
                    @foreach (var messe in Model.MassesToActivate)
                    {
                        <tr>
                            <td>@messe.MassActivationID</td>
                            <td>@messe.MassDateTime.ToString("D", new System.Globalization.CultureInfo("fr-FR"))</td>
                            <td>@messe.MassDateTime.ToString("HH:mm:ss")</td>
                            <td>@messe.IsOpened</td>
                            <td><a class="btn btn-warming">Modifier</a></td>
                        </tr>
                    }
                }
                else{
                    <tr>
                        <td colspan="5">
                            Aucune messe disponible pour être reservée
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
