@model MassActivationViewModel

@{
    ViewData["Title"] = "Activer une réservation";
    Layout ="_AdminLayout";
}
<div>
    <h3>Rendre disponible la messe pour activer la réservation</h3>
    <hr />
    <div>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Mois de l'année</th>
                        <th>Etat de réservation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (KeyValuePair<int, string> month  in Model.ListOfMonths)
                    {
                        <tr>
                            <td>@month.Value</td>
                            <td>
                                <form asp-controller="MassActivation" asp-action="ActivateMass" method="POST">
                                    <input type="hidden" name="MonthToActivate" value="@month.Key" />
                                    <button class="btn btn-warning">Activer</button>
                                    |<a>Details</a>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> 
    </div>
</div>